@import './homepage.scss';
@import './colors.scss';

.arrow_return {
    position: fixed; 
    top: 100px;
    left: 30px;
    cursor: pointer;
    z-index: 11; 
    border: 2px solid #fff;
    border-radius: 50%;
    background: $dark_blue;
}

.content_character_info{
    display: flex;
    margin-top: 5rem;
    z-index: 10;

    @include sm-screen {
        flex-direction: column;
        align-items: center;
    }

    .character_full_card {
        background: $dark_blue;
        height: fit-content;
        padding: 2rem;
        border-radius: 25px;
        border: 4px solid #fff;
        font-size: 2.5vh;
        max-width: fit-content;
        margin-bottom: 1rem;

        @include sm-screen {
            font-size: 1.2rem;
        }

        img {
            border-radius: 8px;
            max-width: 15vw;
            min-width: 200px;
        }

        .char_infos {
            margin-top: 1rem;

            p { margin: 0.5rem; }
            .location { 
                text-align: center; 
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .episodes_card {
        background: $dark_blue;
        padding: 2rem;
        border-radius: 25px;
        z-index: 10;
        border: 4px solid #fff;
        margin-left: 5rem;

        @include sm-screen {
            margin: 0;
            font-size: 1.2rem;
        }

        .episode_card {
            padding: 0.5rem 0;
            font-size: 2.2vh;
            border-bottom: 2px solid #fff;
            cursor: pointer;

            @include sm-screen {
                font-size: 1rem;
            }

            &:nth-of-type(1) { border-top: 2px solid #fff; }
        }
    }
}