@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;700&display=swap');
@import './colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruda', sans-serif;
}


@mixin sm-screen {
    @media only screen and (max-width: 500px) {
        @content;
    }
}


main {
    overflow: hidden;
    max-width: 100vw;
    min-height: 100vh;
    background: $light_blue;
    padding: 1em;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .back {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98%;

        nav {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            width: 100%;
            z-index: 5;
    
            .contacts {
                display: flex;
                align-items: center;
                cursor: pointer;

                & > * {
                    margin-left: 1rem;
                }
    
                h6 {
                    font-size: 1.3em;
                    margin-left: 0.5em;
                }
            }
        }
    
        .background {
            margin-top: -10vh;
            max-width: 36vw;
            min-width: 300px;
        }
    
        .description {
            font-size: 5vh;
            max-width: 60%;
            text-align: center;
            border: 2px solid #fff;
            padding: 2rem;
            border-radius: 25px;
            margin-bottom: 1rem;

            @include sm-screen {
                font-size: 1.2rem;
                max-width: 100%;
                color: $dark_blue;
                border: 2px solid $dark_blue;
                padding: 1rem;
            }
        }
    }

    
    .toTop {
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #fff;
        padding: 0.5rem;
        background: $dark_blue;
        position: fixed; 
        bottom: 10vh;
        right: 4vw;
        z-index: 100;
    }


    .content {
        z-index: 10;
        margin-top: 105vh;
        width: 80%;
        min-width: fit-content;
        border-radius: 25px;
        border: 4px solid #fff;
        background: $dark_blue;
        padding: 1rem;
        position: relative;

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -4em;
            margin-bottom: 0.5em;

            .selected {

                .mobile {
                    display: none;
                    @include sm-screen {
                        display: block;
                    }
                }
                .desktop {
                    display: flex;
                    align-items: center;

                    @include sm-screen {
                        display: none;
                    }

                    button {
                        padding: 5px 15px;
                        border-radius: 50px;
                        border: 2px solid $dark_blue;
                        color: $dark_blue;
                        font-size: 2.2vh;
                        margin-right: 2rem;
                        cursor: pointer;
                    }
                }
            }

            .pages {
                display: flex;
                align-items: center;
                font-size: 2rem;
                color: $dark_blue;

                & :nth-child(1), & :nth-child(3){
                    border: 2px solid $dark_blue;
                    border-radius: 50%;
                    cursor: pointer;
                }
                p { margin: 0 1rem; }
            }
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        hr {
            height: 4px;
            background-color: #fff;
            border: none;
        }

        .character_card {
            padding: 1.5rem;
            font-size: 3vh;
            display: flex;
            cursor: pointer;

            @include sm-screen {
                padding: 1rem;
                font-size: 1.2rem;
            }

            &:last-child{ border: none; }
            
            img {
                object-fit: cover;
                border-radius: 8px;
                width: 10vmin;
                height: 10vmin;
                min-width: 80px;
                min-height: 80px;
                margin-right: 2rem;
            }

            table {
                width: 90%;

                td {
                    width: 20%;

                    @include sm-screen {
                        display: list-item;
                        min-width: fit-content;
                    }

                    &:nth-of-type(4), &:nth-of-type(3){
                        text-align: center;
                    }

                    &:last-child{
                        @include sm-screen {
                            display: none;
                        }
                    }

                    .gender {
                        font-size: 7vh;
                        @include sm-screen {
                            font-size: 22px;
                        }
                    }
                }

            }
        }
        
        .mobile_menu {
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            border-radius: 25px;
            border: 4px solid #fff;
            background: $dark_blue;
            padding: 1rem;
            max-width: min-content;
    
            button {
                padding: 5px 15px;
                border-radius: 50px;
                border: 2px solid #fff;
                color: #fff;
                font-size: 2.2vh;
                margin: 1rem;
                cursor: pointer;
            }
        }
    }


    footer {
        display: flex;
        padding: 0.5rem;
        border-radius: 15px;
        border: 4px solid #fff;
        margin-top: 2rem;
        justify-content: space-around;
        align-items: center;
        background: $dark_blue;
        z-index: 10;
        width: 80%;

        .mobile {
            display: none;
            margin-right: 5px;
            @include sm-screen {
                display: block;
            }
        }
        .desktop {
            @include sm-screen {
                display: none;
            }
        }

        a {
            color: #fff;
        }

        .creator {
            display: flex;
            align-items: center;
            margin-right: 10px;
            & :nth-child(1){ margin-right: 10px; }
            @include sm-screen { border-right: 1px solid #fff ;}
        }

        .contact {
            @include sm-screen {
                display: none;
            }
        }
    }
}